<div class="home">
  <div class="masthead">
    <div class="jumbotron">
      <div class="container">
        <h1>creator<strong>huddle</strong></h1>
        <p>Learn, grow, and share with like-minded creatives</p>
        <p>
          <%= link_to "get started", '#', data: {toggle: 'modal', target: '#signup_modal'}, class: 'btn btn-success btn-lg' %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>Featured projects</h2>
    </div>
    <div class="col-sm-4">
      <h2>Recent activity</h2>
    </div>
  </div>
</div> -->
