<% if projects.any? %>
  <ul class="projects">
    <% projects.each do |project| %>
      <li class="project">
        <h3><%= link_to project.name, project_path(project) %></h3>
        <p><%= project.summary %></p>
        <small class="stats">
          <i class="fa fa-rss"></i> <%= project.followers.count %> followers - by <%= project.users.decorate.map(&:name).join(', ').html_safe %>
        </small>
      </li>
    <% end %>
  </ul>
<% else %>
  <em>No projects found</em>
<% end %>
