<% if projects.any? %>
  <ul class="projects small">
    <% projects.each do |project| %>
      <li class="project">
        <%= link_to project_path(project) do %>
          <h3><%= project.name %></h3>
        <% end %>
        <p><%= project.summary %></p>
        <p class="stats">
          <span class="label label-info"><i class="fa fa-rss"></i> <%= project.followers.count %> followers</span>
        </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <em>No projects found</em>
<% end %>
