<div class="masthead">
  <div class="jumbotron">
    <div class="container">
      <h1>Add your project</h1>
      <p>A great way to get feedback and keep a log of your progress!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
