<header class="masthead">
  <div class="jumbotron">
    <div class="container">
      <h1>Submit a link</h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <%= render 'form', link: @link %>
    </div>
  </div>
</div>
