<div class="container">
  <div class="page-header">
    <h1>Post an update</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render 'form', update: @update %>
    </div>
  </div>
</div>
