.articles {
  list-style: none;
  padding: 0;

  .article {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px dashed $gray-lighter;

    h3 {
      margin: 0;
    }

    p {
      margin: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .stats a {
      color: $gray-darker;

      &:hover {
        color: $brand-success;
      }
    }
  }

  &.small {
    .article {
      h3 {
        font-size: 14px;
      }
    }
  }
}
