.badge-primary {
  background: $brand-primary;
}

.badge-secondary {
  background: $brand-secondary;
}

.badge-danger {
  background: $brand-danger;
}

.badge-warning {
  background: $brand-warning;
}

.badge-info {
  background: $brand-info;
}

.badge-success {
  background: $brand-success;
}
