.btn {
  border: 0;
}

.btn-plain {
  color: $brand-info;
  background: transparent;
  padding: 0;
  margin: 0 5px;

  &:hover {
    color: $brand-success;
  }

  &:focus {
    color: $brand-success;
    outline: none;
  }

  &:active {
    color: $brand-success;
    @include box-shadow(none);
  }
}
