.comments {
  list-style: none;
  padding: 0 20px;
  margin: 0 0 10px 0;
}

.comment {
  position: relative;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $gray-lighter;

  &:last-child {
    border: 0;
  }
}

.comment-avatar {
  position: absolute;
  top: 0;
  left: -42px;
}

