.jumbotron {
  background: $gray-light; //$brand-secondary;
  color: $brand-primary;
  padding: 20px 0 10px;
  margin: 0;

  h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;

    small {
      color: tint($brand-primary, 25%);
    }

    a {
      color: $brand-primary;
    }
  }

  p {
    color: tint($brand-primary, 20%);
  }

  .nav-tabs {
    position: relative;
    bottom: -9px;
    border: 0;

    .active > a {
      border: 0;

      &:hover {
        border: 0;
      }
    }

    li > a {
      border: 0;
      color: $gray-darker;

      &:hover {
        border: 0;
      }
    }
  }
}

.home .jumbotron {
  h1 {
    font-weight: normal;
    font-size: 70px;
    line-height: 50px;

    strong {
      font-weight: bold;
    }
  }
}
