.jumbotron {
  background: image-url('mountains.jpg'); //$brand-secondary;
  background-position: center 58%;
  background-size: cover;
  color: $brand-primary;
  padding: 70px 0 40px;
  margin: 0;

  h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;

    small {
      color: tint($brand-primary, 25%);
    }

    a {
      color: $brand-primary;
    }
  }

  p {
    color: tint($brand-primary, 20%);
  }

  .nav-tabs {
    position: absolute;
    border: 0;

    .active > a {
      border: 0;
      background: #fff;
      color: $gray-darker;

      &:hover {
        border: 0;
        color: $gray-darker;
      }
    }

    li > a {
      border: 0;
      margin: 0;
      color: $gray-darkest;
      background: rgba(255,255,255,0.85);

      &:hover {
        border: 0;
        background: #fff;
        color: $brand-info;
      }
    }
  }
}

.home .jumbotron {
  h1 {
    font-weight: normal;
    font-size: 70px;
    line-height: 50px;

    strong {
      font-weight: bold;
    }
  }
}
