.rate-link {
  button {
    margin: 0;
    padding: 0;

    background: 0;
    border: 0;

    @include transition-property(color);
    @include transition-duration(0.3s);

    &:hover {
      color: $brand-success;
    }

    &:disabled {
      color: $brand-success;
    }
  }
}

.link {
  padding: 10px 0;
  border-bottom: 1px dashed $gray-lighter;
  @extend .clearfix;

  .rating-piece {
    text-align: center;
    width: 50px;
    margin: -4px 10px -10px 0;
    float: left;
    background: $brand-primary;
    color: #fff;
    @include border-radius(4px);
    padding: 4px 5px 5px;
  }

  &:last-child {
    border-bottom: 0;
  }

  h4 {
    margin: 0;
    font-size: 16px;
  }

  .stats a {
    color: $text-color;

    &:hover {
      color: $brand-success;
    }
  }
}

.link-score {
  font-weight: bold;
}

.link-data {
  padding: 4px 0 0 60px;
}
