.modal-header {
  background: $brand-primary;
  color: $gray-light;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .close {
    text-shadow: none;
    color: $brand-danger;
    opacity: 0.7;
    margin: 1px 5px 0 0;

    &:hover {
      opacity: 1;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}
