.navbar-brand {
  font-family: 'adelle', 'cambria', 'georgia', serif;
}

.navbar-fixed-top {
  border: 0;
}

.navbar-inverse {
  background: $brand-primary;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  background: #fff;
}

.brand-icon {
  position: relative;
  top: -2px;
  margin: 0 3px 0 0;
}
