.notifications {
  list-style: none;
  padding: 0;

  .notification {
    border-bottom: 1px dashed $gray-light;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
  }
}

.notification-time {
  font-size: 12px;
}
