.small-post-form {
  margin: 0 0 30px 0;
  padding: 20px;
  background: $brand-primary;
  @include border-radius(4px);

  h4 {
    margin: 0 0 10px 0;
    color: #fff;
    -webkit-font-smoothing: antialiased;
  }

  .form-control {
    border: 0;
  }

  label {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    color: #fff;
  }
}
