.small-post-update-form {
  margin: 0 0 30px 0;
  padding: 20px;
  background: $brand-primary;
  @include border-radius(4px);

  h4 {
    margin: 0 0 10px 0;
    color: $gray-light;
    -webkit-font-smoothing: antialiased;
  }

  .form-control {
    border: 0;
  }
}
