.update {
  margin: 0 0 30px 0;

  h4 {
    border-bottom: 1px solid $gray-lighter;
    padding: 0 0 10px 0;
    font-size: 24px;
    color: darken($gray-darker, 20%);
  }
}

.update-content {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.update-footer {
  padding: 0 20px;
  background: $gray-lighter;
  padding: 20px;
  @include border-radius(4px);
  margin: 0 0 20px 0;
}

.updates {
  list-style: none;
  padding: 0;

  .update {
    margin: 0 0 20px 0;

    h4 {
      border-bottom: 1px solid $gray-lighter;
      padding: 0 0 5px 0;
      font-size: 14px;
      color: darken($gray-darker, 20%);
    }
  }

  .update-content {
    font-size: 14px;
    margin: 0 0 10px 0;
  }

  .update-meta {
    font-size: 12px;
  }
}

.updates-sm {
  .update-content {
    a {
      color: $text-color;
    }
  }
}
