.your-projects {
  padding: 13px 0 0;

  .project {
    padding: 0;
    border: 0;

    border-bottom: 1px solid $gray-lighter;
    padding: 20px 0;

    &:first-child {
      padding-top: 0;
    }
  }
}
