h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
}

img {
  max-width: 100%;
  @include border-radius(4px);
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  color: $gray-darkest;
}

li {
  font-size: 16px;
  color: $gray-darkest;
}

body {
  line-height: 1.7;
}

pre {
  color: #fff;
  background: $gray-darkest;
  border: 0;
  padding: 15px;
}
